@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

html {
  overflow: hidden;
  touch-action: none;
  content-zooming: none;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #00a8f7;
  font-family: "Nunito", serif;
}
.center {
  width: 90%;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.title {
  font-size: clamp(3.5rem, 7vw, 5rem);
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}
#game {
  background: transparent;
  width: 100%;
  height: auto;
}

#game .body {
  stroke-width: 5;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 3;
}
#game .head {
  fill: #252525;
}
#game .cell {
  cursor: pointer;
}
#bar {
  color: #fff;
  font-size: 6vmin;
  font-weight: bold;
  cursor: pointer;
  padding-top: 10px;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  transition: transform 0.3s ease;
}
#bar:hover {
  transform: scale(1.1);
}

/* #title {
  position: absolute;
  right: 10px;
  cursor: default;
} */

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
  border-radius: 10px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
.alert {
  color: black;
}
.center-center {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 720px) {
  #game {
    max-width: 420px;
  }
}
